.text {
	margin: 0 auto;
	max-width: 836px;
	font-family: "Montserrat";
	font-size: 22px;
	line-height: 155%;
	color: #000000;
	p {
		padding-bottom: 5px;
	}
	padding-bottom: 50px;
}

.title {
	font-weight: 600;
	font-size: 26px;
	line-height: 155%;
	color: #000000;
	margin-bottom: 10px;
}

.content {
	background: #ffffff;
	box-shadow: 0px 107px 107px rgba(112, 167, 195, 0.21), 0px 27px 59px rgba(112, 167, 195, 0.25),
		0px 0px 0px rgba(112, 167, 195, 0.25);
	border-radius: 100px;
}

.TheLine{
	margin: 20px 0 20px 121px;
	
}

// style={{margin: "20px 0 20px 121px"}}