.ant-space-item {
	font-size: 40px;
}

.box {
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	width: 125px;
	height: 40px;
	background: linear-gradient(90deg, #f14f54 14.4%, #ff8f20 86.8%);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.box:hover {
	color: #fff;
}
.menu {
	max-width: 384px;
	
}
.menu li:hover{
	background: #fff;
}

.link {
	margin: 0;
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 16px;
	line-height: 155%;
	color: #1c2128 ;
}
 	.link:hover{
		background: #fff ;
		color:  #f14f54 ; 
		
 }

 