.wrapper{
	position: relative;
	height: 100%;
}


.header {
	
	padding: 10px 0;
	min-height: 135px;
	display: grid;
	grid-template-columns: 215px auto;
	align-items: center;
	column-gap: 35px;
	@media ( max-width: 1024px) {
		//height: 180px;
		grid-template-columns: none;
		justify-items: center;
		row-gap: 10px;
		//justify-content: space-evenly;
	}
}

.backgr {
	 position: absolute;
	 top: 74px;
	 left: 0;
	 width: 100%;
	 @media (max-width:1024px) {
		top: 200px;
		opacity: 0.5;
	 }
}




