

.container{
position: relative;
margin: 0 auto;
max-width: 1440px;
background: rgb(238, 195, 195);
}

.content{
	
margin: 0 auto;
max-width: 1250px;
background: rgb(123, 240, 210);
padding: 0 10px;
}

.text{
	font-family: 'Roboto';
	
}

.swiper-button-prev, .swiper-button-next {
	color: black !important;

}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
	color: red !important;
	opacity: 1 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
	font-size: 30px !important ;
	font-weight: 900 !important;
	
}