

.container{
margin: 0 auto;
max-width: 1440px;
background: rgb(238, 195, 195);
}

.content{
margin: 0 auto;
max-width: 1230px;
background: rgb(123, 240, 210);
padding: 0 10px;
}

.text{
	font-family: 'Roboto';
	
}
